@model IDEIBiblio.Models.Livro

@{
    ViewBag.Title = "";
}

<h2>Eliminar @Model.titulo</h2>
<img src="~/Images/bar.png" width="1000"/>
<h3>De certeza que este é o livro a eliminar?</h3>
<fieldset>
    <legend>Livro</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isbn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isbn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.publicação)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publicação)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sinopse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sinopse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.path_img)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.path_img)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.editora)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.editora)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.preco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.preco)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
    </p>
}
