@model IDEIBiblio.Models.Livro

@{
    ViewBag.Title = "Detalhes de Livro";
    IDEIBiblio.Controllers.AccountController aC = new IDEIBiblio.Controllers.AccountController();
    string userType = aC.GetUserType();
}

<h2>Detalhes de @Model.titulo</h2>
<img src="~/Images/bar.png" width="1000"/>
<fieldset>
    <legend>Livro</legend>
    <table>
        <tr>
            <td>
                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.titulo)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.titulo)
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.editora)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.editora)
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.preco)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.preco)
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.isbn)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.isbn)
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.publicação)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.publicação)
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.sinopse)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.sinopse)
                </div>
            </td>
           
            <td>
                <img src=../../@Html.DisplayFor(model => model.path_img) alt="Imagem" width="190" height="235" />
            </td>
            
        </tr>

    </table>
   
    
        @if (userType != "Cliente")
        {
            <p>
                <a href="/Livro/Edit/@Model.ID"><img src="~/Images/lapis.png" width="25" height="25"/>Editar</a> | <a href="/Livro/Delete/@Model.ID"><img src="~/Images/deletebt.png" width="25" height="25" />Eliminar</a>
            </p>
        }
</fieldset>
