@model IDEIBiblio.Models.Livro

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Livro", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Livro</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.path_img)
       
        <div class="editor-label">
            @Html.LabelFor(model => model.titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.titulo)
            @Html.ValidationMessageFor(model => model.titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.editora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.editora)
            @Html.ValidationMessageFor(model => model.editora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.preco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.preco)
            @Html.ValidationMessageFor(model => model.preco)
        </div>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.categoria)
        </div>
        <div class="editor-field">
            @Html.DropDownList("categoriaSelecionada", (SelectList)ViewBag.categoria)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.isbn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isbn)
            @Html.ValidationMessageFor(model => model.isbn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.publicação)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publicação)
            @Html.ValidationMessageFor(model => model.publicação)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sinopse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sinopse)
            @Html.ValidationMessageFor(model => model.sinopse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.path_img)
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file" style="width: 100%;" />
        </div>



        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
