@{
    ViewBag.Title = "Listar por Categoria";
}

<h2>Listar Livros Por Categoria</h2>

@{
    if (IsPost)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <div class="editor-field">
            @Html.DropDownList("categoriaSelecionada",(SelectList)ViewBag.categoria);
            </div>
            <input type="submit" value="ok"/>
        } 
    
    
        List<IDEIBiblio.Models.Livro> test = new List<IDEIBiblio.Models.Livro>();
        test = ViewBag.listaLivrosCategoria;
        if(test.Count>0)
        <h2>Categoria: </h2>
        <table>
        @foreach (IDEIBiblio.Models.Livro liv in test)
        {
            @Html.Partial("_ProdutoPartial", liv)
        }
        </table>
}
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <div class="editor-field">
            @Html.DropDownList("categoriaSelecionada",(SelectList)ViewBag.categoria);
            </div>
            <input type="submit" value="ok"/>
        } 
    }
}

