@model IDEIBiblio.Models.Livro

@{
    ViewBag.Title = "PesquisarISBN";
}

<h2>PesquisarISBN</h2>


<img src="~/Images/bar.png" width="1000"/>

@{
    if (IsPost)
    {

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
                <div class="editor-field">
                    ISBN: @Html.TextBox("isbn"); <input id="submit" type="submit" value="Pesquisar" />
                </div>
        }


        List<IDEIBiblio.Models.Livro> test = new List<IDEIBiblio.Models.Livro>();
        test = ViewBag.livros;
        <table>
            @if (test.Count > 0) { 
            foreach (IDEIBiblio.Models.Livro liv in test)
            {
                IDEIBiblio.Controllers.AccountController aC = new IDEIBiblio.Controllers.AccountController();
                string userType = aC.GetUserType();
                if (userType == "Cliente") { 
                @Html.Partial("_ProdutoPartial", liv)
                }
                else
                {
                @Html.Partial("_ProdutoPartialNonLogged", liv)
                }
            }
            }
            else
            {
                <p>Não existe livro com esse ISBN</p>
            }
        </table>
    }
    else
    {
            @Html.AntiForgeryToken();
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken();
                <div class="editor-field">
                    ISBN: @Html.TextBox("isbn"); <input id="submit" type="submit" value="Pesquisar" />
                </div>
            }
        }
}