@model IDEIBiblio.Models.Linha_Doc
@using (Ajax.BeginForm("RemoverLinha", "Encomenda", new AjaxOptions { UpdateTargetId = "formId" }))
{
    int idL = @Model.ID;
    <tr id="formId">
        @Html.HiddenFor(model => idL)
        @Html.HiddenFor(model => model.ID)
        <td><input type="submit" value="Eliminar" /></td>
        <td>@Model.produto.ID</td>
        <td>@Model.produto.titulo</td>
        <td>@Model.qtd</td>
        <td>@Model.preço_unitário €</td>
    </tr> 
}
