@model IDEIBiblio.Models.Item_Carrinho
@using (Ajax.BeginForm("RemoverItem", "Carrinho", new AjaxOptions { UpdateTargetId = "formId" }))
{
    int idL = @Model.ID;
    <tr id="formId">
        @Html.HiddenFor(model => idL)
        @Html.HiddenFor(model => model.ID)
        <td></td>@*<td><input type="submit" value="Eliminar" /></td>*@
        <td>@Model.produto.ID</td>
        <td>@Model.produto.titulo</td>
        <td>@Model.qtd</td>
        <td>@Model.produto.preco</td>
    </tr>
}

