@model IDEIBiblio.Models.Produto


@using (Html.BeginForm("AddToCart", "Carrinho"))
    {
    @Html.HiddenFor(model => model.ID)
    IDEIBiblio.Models.ModelValidate validate = new IDEIBiblio.Models.ModelValidate();
       <tr>
    <table width="800">
        <tr>
            <td rowspan="2">
            @try{
                IDEIBiblio.Models.Livro liv = (IDEIBiblio.Models.Livro)@Model;
                <img src=../@liv.path_img alt="Imagem" width="75" height="100">
            }
            catch (Exception e)
            {
                <img src="~/Images/not-found.png" alt="Imagem" width="75" height="100" />
            }
            </td>
            <td>
                <b>Titulo: </b>@Model.titulo
            </td>
            <td>
                <b>Preço: </b>@Model.preco
            </td>

            <td rowspan="2">
                @if (Request.IsAuthenticated){
                    <input id="Add" type="submit" value="Add" />
                }else{
                    <button type="button" disabled>Add</button>
                }
                
            </td>
        </tr>
        <tr>
            <td>
                <b>Editora: </b>@Model.editora
            </td>
            <td>
                @if (Request.IsAuthenticated){
                @Html.TextBoxFor(model => validate.inteiro)
                }
                else
                {
                    <input type="text" name="lname" disabled />
                }
                
            </td>
        </tr>
    </table>
</tr> 
    }



