@model IDEIBiblio.Models.Encomenda

@{
    ViewBag.Title = "Detalhes de Encomenda = @Model.EncomendaID";
}

<h2>Detalhes de Encomenda = @Model.EncomendaID</h2>


<h4>Nota de encomenda</h4>
<table width="1000">
    <tr>
        <td rowspan="2"><img src="~/Images/logo.png" width="100" height="50"/></td>
    </tr>
    <tr>
        <td align="left">
        Empresa IDEIBiblio LDA
        ZONA INDUSTRIAL DO PORTO
        9999-999 PORTO
        Tel: 123456789
        </td>
        <td align="right">
            @Model.cliente.nome
            @Model.cliente.morada
        </td>
    </tr>
    <tr>
        <td align="left">
            Contribuinte: XXXXXXXX
            Cap. Social: ZZZZZZZZ
        </td>
        <td align="right">
            Contribuinte nº @Model.cliente.nif
        </td>
    </tr>
</table>
<img src="~/Images/bar.png" width="1000"/>
<table width="1000">
    <tr>
        <th>
            <b>@Html.DisplayNameFor(model => model.EncomendaID)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.data)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.cliente.ID)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.cliente.nome)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.cliente.nif)</b>
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.EncomendaID)
        </td>
        <td>
            @Html.DisplayFor(model => model.data)
        </td>
        <td>
            @Html.DisplayFor(model => model.cliente.ID)
        </td>
        <td>
            @Html.DisplayFor(model => model.cliente.nome)
        </td>
        <td>
            @Html.DisplayFor(model => model.cliente.nif)
        </td>
    </tr>
</table>
<img src="~/Images/bar.png" width="1000" />
<table width="1000">
    <tr>
        <th>
            Referencia
        </th>
        <th>
            Descriçao
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Preço
        </th>
    </tr>
    @{float soma = 0;}
    @foreach (var item in Model.linhas) {
        <tr>
            <td>
                <table>
                    <tr>
                        <td>BT</td>
                        <td>@item.produto.ID</td>
                        <td>@item.produto.titulo</td>
                        <td>@item.qtd</td>
                        <td>@item.preço_unitário</td>
                        {@soma=@soma+(@item.preço_unitário * @item.qtd)}
                    </tr>
                </table>
            </td>
        </tr>
    }
</table>
<img src="~/Images/bar.png" width="1000" />
<table width="1000">
    <tr>
        <td align="left">
            Transportadora: @Model.transp.ID
            @Model.transp.Nome
        </td>
        <td align="right">Total encomenda: @soma</td>
    </tr>
</table>



<p>
    @Html.ActionLink("Validar Encomenda", "Validate", new { id=Model.EncomendaID }) |
    @Html.ActionLink("Eliminar Encomenda", "Delete")
</p>
