@model IDEIBiblio.Models.Encomenda
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Detalhes de Encomenda";
}
@if (@Model.linhas.Count() == 0)
{
    IDEIBiblio.Controllers.EncomendaController ctrEnc = new IDEIBiblio.Controllers.EncomendaController();
    ctrEnc.Remover(Model.EncomendaID);
    <h1>ENCOMENDA @Model.EncomendaID ELIMINADA</h1>
    @Html.ActionLink("Voltar", "Index", "Home");
}
else
{
    <h2>Detalhes de Encomenda</h2>


<h4>Nota de encomenda @Model.EncomendaID</h4>
@*@using (Ajax.BeginForm("CheckoutValidated", "Carrinho",new AjaxOptions { UpdateTargetId = "formId" }))*@
                            
<table width="1000">
    <tr>
        <td align="left"><img src="~/Images/logo.png" width="100" height="50"/></td>
        <td></td>
    </tr>
    <tr>
        <td align="left">
            <p>Empresa IDEIBiblio LDA</p>
            <p>ZONA INDUSTRIAL DO PORTO</p>
            <p>9999-999 PORTO</p>
            <p>Tel: 123456789</p>
        </td>
        <td align="right">
            <p>@Model.cliente.nome</p>
            <p>@Model.cliente.morada.rua</p> 
            <p>Nº: @Model.cliente.morada.porta Andar: @Model.cliente.morada.andar</p>
            <p>@Model.cliente.morada.cod_postal</p>

        </td>
    </tr>
    <tr>
        <td align="left">
            Contribuinte: 500500500<br />
            Cap. Social: 2.500.000<br />
        </td>
        <td align="right">
            Contribuinte nº @Model.cliente.nif
        </td>
    </tr>
</table>
<img src="~/Images/bar.png" width="1000"/>
<table width="1000">
    <tr>
        <th>
            <b>@Html.DisplayNameFor(model => model.EncomendaID)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.data)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.cliente.ID)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.cliente.nome)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.cliente.nif)</b>
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.EncomendaID)
        </td>
        <td>
            @Html.DisplayFor(model => model.data)
        </td>
        <td>
            @Html.DisplayFor(model => model.cliente.ID)
        </td>
        <td>
            @Html.DisplayFor(model => model.cliente.nome)
        </td>
        <td>
            @Html.DisplayFor(model => model.cliente.nif)
        </td>
    </tr>
</table>
<img src="~/Images/bar.png" width="1000" />
<table width="1000">
    <tr>
        <th>
            &nbsp;
        </th>
        <th>
            Referencia
        </th>
        <th>
            Descriçao
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Preço
        </th>
    </tr>
    <tr>
        <td colspan="5"><img src="~/Images/smallbar.png" width="1000" style="align-content:center;" /></td>
    </tr>
    @{float soma = Model.Portes; int count = 0;}
    @foreach (var item in Model.linhas) {
        @Html.Partial("_PartialLinhaDoc", item)
        soma = soma + (item.preço_unitário * item.qtd); count++;
    }
</table>
<img src="~/Images/bar.png" width="1000" />
<table width="1000">
    <tr>
        <td align="left">
            Transportadora: @Model.logistica.nome
        </td>
        <td align="right">
        <p>Valor portes: @Model.Portes</p>
        <p>Total encomenda: @soma</p>
        </td>
    </tr>
</table>



<p style="text-align: center;">
    @{IDEIBiblio.Controllers.AccountController aC = new IDEIBiblio.Controllers.AccountController();}
    @{string userType = aC.GetUserType();}
    @if (userType == "Administrador")
    {
    @Html.ActionLink("Validar Encomenda", "Validar/" + Model.EncomendaID, "Encomenda");
    <span>|</span>
    @Html.ActionLink("Remover Encomenda", "Remover/" + Model.EncomendaID, "Encomenda");
    }
</p>

}
