@model IList<IDEIBiblio.Models.Livro>
@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
         </div>
    </section>
}
<h3>Novidades:</h3>

<ol class="round">
    <li>
        <ul><a href="/Livros/ListarTodos">Todos os livros </a></ul>
    </li>
    
    
    @foreach (var prod in @Model)
    {
        <li class="one">
            <h4>@prod.titulo</h4>
            <p>Editora: @prod.editora</p>
            <p>Preço: @prod.preco €</p>
            <p><img src=@prod.path_img alt="Imagem" width="100" height="75"></p>
        </li>
    }
    
</ol>
