@model IDEIBiblio.Models.Carrinho

@{
    ViewBag.Title = "Edit";
}

<h2>Carrinho de compras</h2>

@using (Html.BeginForm("Checkout/"+Model.ID,"Carrinho")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Carrinho</legend>

        @Html.HiddenFor(model => model.ID)
        @foreach (IDEIBiblio.Models.Item_Carrinho linha in Model.linhas)
        {
            @linha.ID;
        }
        <p>
            <input type="submit" value="Checkout" />
        </p>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
