@model IDEIBiblio.Models.Revista

@{
    ViewBag.Title = "Eliminar Revista";
}

<h2>Eliminar Revista</h2>

<h3>Tem a certeza que pretende eliminar esta revísta?</h3><p></p>
<fieldset>
    <legend>Revista</legend>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.titulo)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.editora)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.editora)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.preco)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.preco)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.numero)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numero)
    </div>

    <div class="display-label">
        <b> @Html.DisplayNameFor(model => model.edição)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.edição)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.país)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.país)
    </div>


</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
