@model IDEIBiblio.Models.Revista

@{
    ViewBag.Title = "Detalhes de Revista";
    IDEIBiblio.Controllers.AccountController aC = new IDEIBiblio.Controllers.AccountController();
    string userType = aC.GetUserType();
}

<h2>Detalhes de Revista</h2><p></p>
<img src="~/Images/bar.png" width="1000"/>
<fieldset>
    <legend>Revista</legend>
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.titulo)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.editora)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.editora)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.preco)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.preco)
    </div>
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.categoria)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoria.nome)
    </div>
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.numero)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numero)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.edição)</b>
</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.edição)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.país)</b>
</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.país)
    </div>

    @if (userType != "Cliente")
    {
        <p>
            <a href="/Revista/Edit/@Model.ID"><img src="~/Images/lapis.png" width="25" height="25" />Editar</a> | <a href="/Revista/Delete/@Model.ID"><img src="~/Images/deletebt.png" width="25" height="25" />Eliminar</a>
        </p>
    }
</fieldset>
